# NODE_ENV valid value (development || production)
NODE_ENV=development
APP_PORT=7000
APP_NAME=node_clean
MONGO_USER=root
MONGO_PW=root
MONGO_PORT=27017
MONGO_DBNAME=node_clean-db
BYCRYPT_SALT=10
JWT_SECRET_KEY=secret
JWT_EXPIRED=24h
# RATE_LIMIT in minute
RATE_LIMIT=15

# MONGO_HOST only used in local, not effect in docker
MONGO_HOST=localhost